<nav>
    <ul>
        <li class="logo" style="color: blanchedalmond;" routerLink="/">Return Order Management</li>
        <li class="btn" style="color: blanchedalmond;" routerLink="/">ROM</li>
        <div class="items">
        </div>
    </ul>
</nav>
<div [hidden]=!submitted style="text-align: center;">
</div>
<div [hidden]=submitted  class= "fontstyle">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center  h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong">
                    <div class="card-header text-center" style="background-color: black; color: white;">
                        <div class="h3">Hey there! Let's <span style="font-size: 2rem;">Login</span></div>
                    </div>
                    <div class="card-body p-5 ">

                        <form #loginform="ngForm" (ngSubmit)="onSubmit(loginform)">
                            <div class="form-group mb-4">
                                <label class="form-label" for="userName" style="font-size: 1.3rem;">Enter Your <span
                                        style="font-size: 1.7rem;">User Name</span>:</label>
                                <input type="text" id="userName" pattern="[a-zA-Z]+$" minlength="3" name="userName"
                                    ngModel required #userName="ngModel" class="form-control form-control-lg"
                                    style="border-width: 2px ; border-color: black;" />
                                <div class="error" *ngIf="userName.touched &&!userName.valid"
                                    style="font-size: 1rem; color: red;">Oops! UserName is
                                    Mandatory.</div>
                            </div>

                            <div class="form-group mb-3">
                                <label class="form-label" for="password" style="font-size: 1.3rem;">Enter Your <span
                                        style="font-size: 1.7rem;">Password</span>:</label>
                                <input type="password" id="password" type="password" required name="password" ngModel
                                    #password="ngModel" minlength="5" class="form-control form-control-lg"
                                    style="border-width: 2px ; border-color: black;" />

                                <div class="error" *ngIf="password.touched &&!password.valid"
                                    style="font-size: 1rem; color: red;">Oops! Password is Mandatory.</div>
                            </div>

                            <div *ngIf="errorMessage" class="error"
                                style="color: red; text-align: center; margin-bottom: 15px; font-weight: bold;">
                                {{errorMessage}}</div>
                            <div class="text-center">
                                <a><button [disabled]="!loginform.form.valid" class="btn" type="submit"
                                    style="text-transform: uppercase; color: white;">Login</button></a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>